* {
  padding: 0px;
  margin: 0px;
}
::selection{
    background-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
:root {
  --bg: #cb0fff;
}
@font-face {
  font-family: "font-1";
  src: url(assets/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(assets/fonts/Passero_One/PasseroOne-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(assets/fonts/Road_Rage/RoadRage-Regular.ttf);
}
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
}
.flex {
  display: flex;
}
.flex-default {
  justify-content: center;
  align-items: center;
}
.drop {
  border: 2px solid black;
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.527);
}
.hidden {
  position: fixed;
  transform: translateY(-10000px);
}
nav {
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.left {
  gap: 20px;
  padding: 30px;
  img {
    scale: 1.5;
  }
  h1 {
    color: white;
    font-family: "font-1";
    font-weight: 300;
  }
}
.right {
  padding: 40px;
  img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.469);
  }
}
.start-menu {
  transition: all 300ms ease-in-out;
  gap: 80px;
  height: calc(100% - 60px);
  width: 100%;
}
.text img {
  scale: 0.6;
}
.text {
  flex-direction: column;
  /* border: 2px solid white; */
  width: 600px;
  padding-top: 25px;
  height: 250px;
}
.title img:nth-child(1) {
  position: relative;
  top: 90px;
  right: 200px;
  z-index: 3;
}
.title img:nth-child(2) {
  position: relative;
  bottom: 15px;
  right: 85px;
  z-index: 2;
}
.title img:nth-child(3) {
  position: relative;
  z-index: 1;
  bottom: 135px;
  left: 60px;
}
.title button {
  margin: 20px;
  padding: 6px 30px;
  font-family: "font-2";
  border: none;
  border-radius: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  background-color: #ff3131;
  animation: image 5s ease-in 0s infinite forwards alternate;
}
.title button:hover {
  background-color: #ff4f4f;
}
.title button:active {
  scale: 1.1;
}

.image {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 12px;
  border: 3px solid black;
  animation: image 10s ease-in 0s infinite forwards alternate;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
@keyframes image {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
    scale: 1;
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes image-2 {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

/*         Start menu - 2        */

.first-choose {
  transition: all 300ms ease-in-out;
  flex-direction: column;
  height: calc(100% - 60px);
  /* width: 860px; */
  width: 100%;
  margin: auto;
  h1 {
    margin: 20px;
    margin-left: calc(((100% - 860px) / 2) + 30px);
    align-self: flex-start;
    font-family: "font-2";
    font-size: 25px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #ff3131;
    padding: 5px 20px;
    text-align: center;
  }
}
.container {
  gap: 30px;
}

.box {
  width: 250px;
  transition: all 100ms ease-in-out;
  height: 250px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 12px;
  animation: image 8s ease-in-out 0s infinite forwards alternate;
  cursor: pointer;
  
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 11.5px;
  }
}
.box:hover{
  scale: 1.1;
}
/*    rounds      */
.block {
  display: inline-block;
}

.rounds {
  height: calc(100% - 60px);
}
.space {

    position: relative;
  width: 1200px;
  height: 350px;
}
.last-move {
  justify-self: flex-start;
  margin: 25px;
  height: 300px;
  width: 300px;
  border: none;
  position: relative;
  background-color: white;
  border-radius: 12px;
  z-index: 10;
  img {
    width: 100%;
    border-radius: 11px;
  }
}
.round{
    width: 150px;
    padding: 14px 40px;
    font-family: "font-2";
    background-color: #FFAD00;
    border-radius: 12px;
    border: none;
    font-size: 27px;
    text-align: right;
    color: white;
    position:absolute;
    top: 30px;
    left: 290px;
    z-index: 9;
}
.winner{
    padding: 9px 40px;
    font-family: "font-2";
    background-color: #FF5F1F;
    border-radius: 12px;
    border: none;
    font-size: 27px;
    text-align: left;
    color: white;
    position:absolute;
    top: 35px;
    left: 490px;
    z-index: 8;
}
.choose{
    display: inline-flex;
    position: absolute;
    top: 130px;
    flex-direction: column;
    h1{
        font-weight: 400;
        color: white;
        font-family: "font-2";
        font-size: 35px;
    }
}
.options{
    gap: 40px;
}
.select{
    transition: all 100ms ease-in-out;
    margin: 20px;
    width: 130px;
    height: 130px;
    border-radius: 12px;
    cursor: pointer;
    animation: image-2 7s ease-in-out 0s infinite forwards alternate;
    img{
      border-radius: 12px;
    }
}
.select:active{
    scale: 1.2;
}
.scorecard{
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 30px;
    font-size: 40px;
    font-weight: 2000;
    color: aliceblue;
    -webkit-text-stroke: .3px black;
    font-family: "font-3";
}
.loose{
    width: 60px;
    padding: 4px 30px;
    background-color: #FF5F1F;
    border-radius: 12px;
    text-align: left;
}
.draw{
    padding: 8px 40px;
    background-color: #FFAD00;
    border-radius: 12px;
    position: absolute;
    z-index: 11;
}
.win{
    width: 60px;
    padding: 4px 30px;
    background-color: #38FF12;
    border-radius: 12px;
    text-align: right;
}
.surrender{
   padding:7px 40px ;
   position: absolute;
   font-family: "font-2";
   font-size: 30px;
   border-radius: 30px;
   border: none;
   background-color: #9E00FF;
   color: white;
   bottom: 40px;
   right: 40px;
   transition: all 100ms ease-in-out;
   cursor: pointer;
   animation: image-2 8s linear infinite forwards;
}
.surrender:hover{
    background-color: #af2fff;
}
.surrender:active{
    scale: 1.1;
}

/*     result card    */
.card-menu{
  position: relative;
  z-index: 100;
  height: calc(100% - 60px);
  width: 100%;  
  transition: all 300ms ease-in-out;
}

.card{
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  width: 60%;
  height: 70%;
  font-size: 130px;
  font-weight: 1000;
  font-family: "font-2";
  color: white;
  position: relative;
  transition: all 300ms ease-in-out;
}

.exit{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  padding: 10px 12px;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.win-card{
  background-color: #00FF47;
  z-index: 50;
  img{
    background-color: #78FF75;
  }
}
.loose-card{
  background-color: #FF4D00;
  z-index: 51;
  img{
    background-color: #FF621F;
  }
}
.draw-card{
  background-color: #FFAD00;
  z-index: 51;
  img{
    background-color: #ffbf34;
  }
}
.surrender-card{
  background-color: #9E00FF;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  width: 60%;
  height: 70%;
  font-size: 130px;
  font-weight: 1000;
  font-family: "font-2";
  color: white;
  position: relative;
  transition: all 300ms ease-in-out;
  z-index: 54;
  img{
    background-color: #b743ff;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    padding: 10px 12px;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
.round-card{
  gap: 20px;
  overflow: hidden;
  position: relative;
  z-index: 53;
  border-radius: 15px;
  width: 60%;
  height: 70%;
  font-size: 70px;
  font-weight: 1000;
  font-family: "font-2";
  background-color: #FF5BFF;
  color: white;
  transition: all 300ms ease-in-out;
  img{
    background-color: #ff7eff;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    padding: 10px 12px;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
.card-hidden{
  width: 0px;
  height: 0px;
  opacity: 0;
  color: transparent;
}

/* Media Query for max-width: 900px */
@media (max-width: 900px) {
  .title button {
    font-size: 20px;
    padding: 5px 20px;
  }
  .image {
    max-width: 200px;
    height: 200px;
  }
  .container {
    flex-direction: column;
  }
  .box {
    width: 100%;
    max-width: 120px;
    height: 120px;
  }
  .round, .winner {
    font-size: 20px;
    padding: 10px 30px;
  }
  .choose h1 {
    font-size: 25px;
  }
}

/* Media Query for max-width: 400px */
@media (max-width: 400px) {
  .title button {
    font-size: 18px;
    padding: 4px 15px;
  }
  .image {
    max-width: 150px;
    height: 150px;
  }
  .box {
    width: 100%;
    max-width: 100px;
    height: 100px;
  }
  .round, .winner {
    font-size: 18px;
    padding: 8px 20px;
  }
  .choose h1 {
    font-size: 20px;
  }
  .surrender {
    padding: 5px 20px;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
  }
}